h3 {
    margin-bottom:5px;
    font-weight: bold;
}

#game-list {
    font-size:2em;
}

#modifier {
    margin:0;
    padding:0;
}
.question-item {
    margin-bottom: 12px;
}
.inline-form {
    display:inline;
}
.question-title, .token-text {
    font-size:1.25em;
    font-weight:bold;
}
